# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# C or Cython
*.o
*.so
build
src/cyvisord/*.c
src/cyvisord/*.html

# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv/
/venv

# IDE
.idea/
.vscode

# Temp files
*.swp
*.swo
.~

# Random crap
.DS_Store
.DS_Store?
._*
